.title-1 {
  font-size: 2.5rem;
  margin-top: 9rem;
  margin-bottom: 3rem;
  text-align: center;
}

.title-column {
  margin-top: 50px;
  margin-bottom: 60px;
  font-size: 40px;
  text-align: center;
}

.message {
  margin-bottom: 65px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-contenido-contactanos {
  background-color: white;
  padding: 20px;
  margin: 15% auto;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
  height: 7%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-contenido-contactanos h2 {
  font-size: 20px;
  font-weight: bold;
}

.cerrar-modal {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}

.container_columna {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 150px;
}

.columna {
  width: 100%;
  max-width: 800px;
}

iframe {
  width: 130%;
  height: 600px;
  max-width: 800px;
  border: solid rgb(255, 255, 255);
}

.contact-form {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  border-radius: 0.625rem;
  border: solid white;
}

.contact-form__input {
  width: 100%;
  padding: 3px;
  margin-bottom: 45px;
  border: solid rgb(207, 205, 205);
  height: 55px;
  border-width: 2px;
}

.contact-form__input:focus {
  border-color: black;

}

.contact-form__mensaje {
  width: 100%;
  border: solid rgb(207, 205, 205);
  height: 250px;
  border-width: 2px;

}

.contact-form__mensaje:focus {
  border-color: black;
}

.error-box {
  margin-top: 5px;
  padding: 3px;
  border-radius: 5px;
  color: rgb(184, 6, 6);
  text-align: center;
}

.send-buttoon {
  margin-top: 32px;
}

.send-buttoon__input {
  padding: 0.4rem 4rem;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  height: 50px;
  margin-left: auto;
  border: solid rgb(207, 205, 205);
  border-width: 4px;
  transition: background-color 0.5s ease-in-out,
    color 0.5s ease-in-out,
    border-color 0.5s ease-in-out;
}

.send-buttoon__input:hover {
  background-color: rgb(3, 3, 3);
  color: white;
  border-color: rgb(0, 0, 0);
}

.premises {
  margin-top: 6rem;
  margin-bottom: 9rem;
}

.premises .title-2 {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
}

.premises-option {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 4rem;
  margin-bottom: 20px;
}

.premises-option>div {
  background-color: #fff;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in;
}

.premises-option>div:hover {
  transform: translateY(-10px);
}

.premises__locals img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.premises-option__text {
  padding: 10px;
}

.premises-option__text h4 {
  margin: 10px 0 5px;
  font-size: 1.5rem;
  font-weight: 600;
}

.premises-option__text p {
  margin: 5px 0;
  font-size: 1rem;
  color: #555;
}

@media (max-width:1280px) {
  iframe {
    width: 100%;
  }

}

@media (max-width:1194px) {
  .container_columna {
    flex-direction: column;
    gap: 3.5rem;
    align-items: center;
  }

  .send-buttoon__input {
    margin-left: 0;
  }

  iframe {
    width: 100%;
    height: 600px;
    max-width: 800px;
    border: solid rgb(255, 255, 255);
  }
}

@media (max-width: 720px) {
  .send-buttoon__input {
    padding: 0.6rem 5rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 374px) {
  .title-1 {
    font-size: 1.5rem;
  }

  .contact-form {
    padding: 1.5rem;
  }

  .send-buttoon__input {
    padding: 0.5rem 2rem;
  }
}