.title-1 {
  font-size: 2.5rem;
  margin-top: 9rem;
  margin-bottom: 3rem;
  text-align: center;
}

.columna {
  width: 100%;
  /* Para que ocupe el 100% del ancho de su padre (.container_columna) */
  max-width: 400px;
  /* Para que no crezca más allá de 500px */
  /* Aquí no necesitas padding ni border, ya los tienen el iframe y el contact-form */
}

.container_columna {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
  /**/

}


iframe {

  width: 100%;
  height: 25rem;
  border: solid black;
  border-radius: 0.625rem;
  max-width: 500px;


}

/*caja del formulario*/
.contact-form {
  width: 100%;
  background-color: rgb(255, 248, 248);
  padding: 2.5rem;
  border-radius: 0.625rem;
  border: solid black;
}

.error-box {
  margin-top: 5px;
  padding: 3px;
  border-radius: 5px;
  color: rgb(184, 6, 6);
  text-align: center;
}

.contact-form__input {
  width: 100%;
  padding: 0.625rem;
  border-radius: 0.75rem;
  margin-bottom: 2rem;
  border: 0.125rem solid;
  font-size: 1rem;
}

.contact-form__mensaje {
  width: 100%;
  border: 0.125rem solid;
  border-radius: 0.75rem;
  font-size: 1rem;
}

.send-buttoon {
  margin-top: 1rem;
  text-align: center;
}

.send-buttoon__input {
  padding: 0.4rem 4rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3125rem;
}

.premises {
  margin-top: 6rem;
  margin-bottom: 9rem;
}

.premises .title-2 {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
}

.premises-option {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 4rem;
}

.premises-option>div {
  background-color: #fff;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in;
}

.premises-option>div:hover {
  transform: translateY(-10px);
}

.premises__locals img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.premises-option__text {
  padding: 10px;
}

.premises-option__text h4 {
  margin: 10px 0 5px;
  font-size: 1.5rem;
  font-weight: 600;
}

.premises-option__text p {
  margin: 5px 0;
  font-size: 1rem;
  color: #555;
}



@media (max-width: 374px) {
  .title-1 {
    font-size: 1.5rem;
  }

  .contact-form {
    padding: 1.5rem;
  }

  .send-buttoon__input {
    padding: 0.5rem 2rem;
  }

}

@media (min-width: 720px) {
  .container_columna {
    gap: 3.5rem;
  }


  .contact-form {
    padding: 2.5rem;
  }

  .contact-form__input {
    font-size: 1rem;
    padding: 0.625rem;
  }

  .send-buttoon__input {
    padding: 0.6rem 5rem;
    font-size: 1.1rem;
  }

}

@media (min-width: 1024px) {
  .container_columna {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 40px;
  }

  iframe {
    width: 100%;

    height: 25rem;
    border: solid black;
  }

  .contact-form {
    background-color: rgb(255, 248, 248);
    padding: 2.5rem;
    border-radius: 0.625rem;
    border: solid black;
    width: 100%;
    margin: 0 auto;
  }

  .contact-form__input {
    width: 100%;
    padding: 0.625rem;
    border-radius: 0.75rem;
    margin-bottom: 2rem;
    border: 0.125rem solid;
    font-size: 1rem;
  }

  .premises-option {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 20px;
  }
}