/* CONOCENOS */

.conocenos {
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}
.conocenos__decoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  opacity: .03;
  font-size: 180px;
  font-weight: 900;
  transform: translateY(-70px);
}

.conocenos__wrapper {
  margin-top: 100px;
  margin-bottom: 60px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.conocenos__image-box {
  position: relative;
  height: 350px;
  flex: 60%;
}

.conocenos__content {
  flex: 40%;
}

.conocenos__image-1 {
  width: 90%;
}

.conocenos__image-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
}
.conocenos__text {
  margin-top: 10px;
}
.conocenos__link {
  margin-top: 10px;
  display: block;
  text-align: right;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .conocenos__image-1 {
     width: 100%;
    height: 100%;
  }
  .conocenos__image-2 {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .conocenos__image-1 {
    display: none;
  }
  .conocenos__image-2 {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .conocenos__wrapper {
    flex-direction: column-reverse;
    text-align: center;
  }
  .conocenos__link {
    text-align: center;
  }
  .conocenos__image-1 {
     width: 100%;
     position: static;
  }
  .conocenos__image-2 {
    display: none;
  }
}

@media (max-width: 480px) {
  .conocenos__wrapper {
    flex-direction: column-reverse;
    text-align: center;
  }
  .conocenos__link {
    text-align: center;
  }
  .conocenos__image-1 {
    display: none;
  }
  .conocenos__image-2 {
    width: 100%;
    position: static;
  }
}
