/* DELIVERY */

.delivery__title {
  margin-top: 60px;
  text-align: center;
}
.delivery__wrapper {
  margin-top: 30px;
  display: flex;
  column-gap: 40px;
}
.delivery__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.delivery__form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.delivery__form-search {
  padding: 5px 0;
  background-color: transparent;
  border-bottom: 1px solid #212121;
}

.delivery__form-select {
  padding: 8px;
}

.delivery__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 40px;
}
.delivery__card {
  background-color: #ffffff;
  padding: 30px;
  text-align: center;
  position: relative;
  margin-top: 60px;
  border-radius: 20px;
}
.delivery__card-title {
  font-weight: 600;
  margin-top: 60px;
}

.delivery__card-price {
  color: var(--primary);
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.delivery__card-button {
  margin-top: 30px;
  padding: 10px 30px;
  border-radius: 100px;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 14px;
}

.delivery__card-image {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
}

.delivery__card-image img {
  border-radius: 50%;
}

.delivery__card-image::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 115%;
  height: 115%;
  border: 2px dashed var(--primary);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}