
.footer {
    margin-top: 30px;
    padding-bottom: 50px;
    background-color: black;
    position: relative;
}

.footer__kitchen {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.kitchen-base {
  width: 100%;
  display: block;
}

.plato {
  position: absolute;
  transition: transform 0.3s ease;
}

.plato--1 {
    width: 140px;
    left: 811px;
    top: 283px
}

.plato--2 {
    width: 170px;
    left: 637px;
    top: 288px
}

.plato--3 {
    width: 125px;
    left: 505px;
    top: 340px
}

.plato--4 {
    width: 200px;
    left: 219px;
    top: 296px
}

.plato--5 {
    width: 190px;
    left: 50px;
    top: 288px
}

.plato--1:hover, .plato--2:hover, .plato--3:hover, .plato--4:hover, .plato--5:hover {
  transform: scale(1.1);
}

.content__redes img {
    width: 200px;
}

.footer__content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: aliceblue;
}

.footer__box img {
    margin-top: -40px;
}

.footer__box .title-4, 
.footer__box p {
    margin-bottom: 19px;
}

.social-media {
    text-align: center;
    font-size: 30px;
}

.social-media a {
    color: aliceblue;
    margin: 0px 7px;
}

@media (max-width: 768px) {

    .footer__content {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .footer__box {
        text-align: center;
        margin: 50px;
    }

}

@media (max-width: 1023px) {

    .plato {
        display: none;
    }

}