
.footer {
    margin-top: 30px;
    padding-bottom: 50px;
    background-color: black;
    position: relative;
}

.kitchen {
    margin: 0 auto;
}

.content__redes img {
    width: 200px;
}

.footer__content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: aliceblue;
}

.footer__box img {
    margin-top: -40px;
}

.footer__box .title-4, p {
    margin-bottom: 19px;
}

.social-media {
    text-align: center;
    font-size: 30px;
}

.social-media a {
    color: aliceblue;
    margin: 0px 7px;
}

@media (max-width: 768px) {

    .footer__content {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .footer__box {
        text-align: center;
        margin: 50px;
    }

}