.header {
    background-color: black;
    background-image: url(../../img/banner/img.png);
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.header__btn {
    display: inline-block;
    color: aliceblue;
    border: 2px solid aliceblue;
    border-radius: 25px;
    padding: 7px 25px;
    transition: all 0.5s ease;
}

.header__btn a {
    display: inline-block;
    color: aliceblue;
}

.header__btn:hover {
    background-color: aliceblue;
    color: black;
    transform: scale(1.2);
}

.header__title {
    color: aliceblue;
    margin-bottom: 40px;
    font-size: 400%;
    text-transform: uppercase;
    font-weight: 0;
}

.header__title span {
    font-weight: bold;
}

.header__info {
    margin-left: 60px;
}

/* MENU */
.section__title {
    text-align: center;
    margin: 60px 0px;
}

.section__menubar {
    margin-top: 25px;
    text-align: center;
}


.menubar__label {
    margin: 10px 20px;
    color: black;
    border: 2px solid black;
    border-radius: 25px;
    padding: 7px 25px;
    transition: all 0.5s ease;
    display: inline-block;
}

.section__content {
    margin-top: 60px;
    position: relative;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

.menubar__radio1:checked~.section__content .content__entrada, 
.menubar__radio2:checked~.section__content .content__sopa,
.menubar__radio3:checked~.section__content .content__criollo,
.menubar__radio4:checked~.section__content .content__postre,
.menubar__radio5:checked~.section__content .content__bebida {
    position: static;
    visibility: visible;
    opacity: 1;
}
.menubar__radio1:checked+.menubar__label,
.menubar__radio2:checked+.menubar__label,
.menubar__radio3:checked+.menubar__label,
.menubar__radio4:checked+.menubar__label,
.menubar__radio5:checked+.menubar__label,
.menubar__label:hover  {
    background-color: black;
    color: aliceblue;
    cursor: pointer;
    transform: scale(1.05);
}

.menu-radio {
    display: none;
}

/* MENU: DISEÑO DE CARTAS*/
.section {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.section__title {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 70px;
}
.section__img1 {
    position: absolute;
    height: 20rem;
    width: 20rem;
    bottom: 0;
    margin-left: -100px;
    animation: plato-rotacion 10s infinite linear;
}

.section__img2 {
    position: absolute;
    height: 20rem;
    width: 20rem;
    right: 0%;
    margin-right: -100px;
    margin-top: -180px;
    z-index: -1;
    animation: plato-rotacion 10s infinite reverse linear;
}

.box__img {
    width: 40%;
}

.box__text {
    padding: 20px;
}

.box__text h3 {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

.box__p {
    font-weight: bold;
}

.menu__inner {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
}

.content__box {
    border: 2px dashed black;
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(30px);
    display: flex;
    text-align: left;
}

.section__btn {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}

.btn__1 {
    margin: 0px 20px;
    color: black;
    border: 2px solid black;
    border-radius: 25px;
    padding: 7px 25px;
    transition: all 0.5s ease;
}

.btn__1:hover {
    background-color: black;
    color: aliceblue;
}

@keyframes plato-rotacion {
    from {
        transform: rotate(0deg);
    }
     to {
        transform: rotate(360deg);
    }
}

@media(max-width: 480px) {

    .header__title {
        font-size: 200%;
    }

}

@media(max-width: 768px) {
    .header {
        background-size: 150%;
        background-position: center;
    }

    .menubar__label {
        display: block;
        padding: 15px 0px;
        margin-bottom: 20px;
    }

    .section__img1,
    .section__img2 {
        display: none;
    }
}

@media (max-width: 1024px) {
    .menu__inner {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        gap: 1rem;
    }
    
  .content__box {
        flex-direction: column;
        flex-shrink: 0;
        flex-basis: 100%;
        scroll-snap-align: start;
        text-align: center;
    }
    .box__img {
        width: 100%;
    }

    .box__text, .box__text p {
        margin-top: 20px;
    }
}