.reservations {
    text-align: center;
    margin-top: 9rem;
}

.reservations__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    padding: 2rem;
}

/*darte estilo al nombre personas*/
.person {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 10rem;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contenido {
    background-color: white;
    padding: 20px;
    margin: 15% auto;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cerrar-modal {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* darle estilo ala caja que contiene todos los botones */
.people-selector {
    margin-top: 3rem;
}

.people-selector__option {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}

.people-selector__input {
    display: none;
}

.people-selector__label {
    margin: 10px 20px;
    color: black;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px 50px;
    transition: all 0.5s ease;
    display: inline-block;
}

.people-selector__input:checked+.people-selector__label {
    background-color: black;
    color: aliceblue;
    transform: scale(1.2);
    border-color: black;
}

.date {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

.date-selector {
    text-align: center;
    margin-top: 5rem;
    width: 50%;
    margin: auto;
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
}

.date-selector__input {
    transform: scale(1.5);

}

.schedules {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 3rem;
    text-align: center;
}

.schedules-selector {
    margin-top: 3rem;
}

.shedules_selection__label {
    margin: 10px 20px;
    color: black;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px 50px;
    transition: all 0.5s ease;
    display: inline-block;
}

.schedules-selector-option__input:checked+.shedules_selection__label {
    background-color: black;
    color: aliceblue;
    cursor: pointer;
    transform: scale(1.2);
}

.schedules-selector-option {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1.5rem;
}

.schedules-selector-option__input {

    display: none;
}

.personal-information {
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
    margin-top: 3rem;
}

.personal-information-form {
    background-color: rgb(255, 248, 248);
    padding: 2rem;
    /* 50px */
    border-radius: 0.625rem;
    /* 10px */
    border: solid black;
    max-width: 31.25rem;
    /* 500px */
    width: 100%;
    margin-top: 3rem;
    align-items: center;
    margin: auto;
}

.personal-information__input {

    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.625rem;
    border-radius: 0.75rem;
    margin-bottom: 1.875rem;
    border: 0.125rem solid;
    font-size: 1rem;

}

.send-button {

    margin-top: 2.5rem;
    text-align: center;
}

.send-button__input {

    padding: 0.4rem 2rem;

    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.3125rem;

}

@media (min-width:900px) {

    .person {
        font-size: 1.3rem;
        font-weight: bold;
        margin-right: 12px;
    }

    /* darle estilo ala caja que contiene todos los botones */
    .people-selector {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .people-selector__option {
        display: inline-block;

    }


    .people-selector__input {
        display: none;
    }

    .people-selector__label {
        margin: 10px 20px;
        color: black;
        border: 2px solid black;
        border-radius: 25px;
        padding: 10px 50px;
        transition: all 0.5s ease;
        display: inline-block;
    }

    .people-selector__label:hover {
        background-color: black;
        color: aliceblue;
        cursor: pointer;
        transform: scale(1.2);
    }

    .date {
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: 3rem;
        text-align: center;
        margin-bottom: 25px;
    }

    .date-selector {

        margin-top: 5rem;
        width: 30%;
        margin: auto;
        border: 2px solid black;
        border-radius: 25px;
        padding: 19px;
    }

    .date-selector__input {}

    .schedules {
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: 3rem;
        text-align: center;
    }

    .schedules-selector {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .shedules_selection__label {
        margin: 10px 20px;
        color: black;
        border: 2px solid black;
        border-radius: 25px;
        padding: 10px 50px;
        transition: all 0.5s ease;
        display: inline-block;
    }

    .shedules_selection__label:hover {
        background-color: black;
        color: aliceblue;
        cursor: pointer;
        transform: scale(1.2);
    }

    .schedules-selector-option {
        display: inline-block;
    }


    .schedules-selector-option__input {

        display: none;
    }

    .personal-information {
        font-size: 1.3rem;
        text-align: center;
        font-weight: bold;
        margin-top: 3rem;
        margin-bottom: 30px;
    }

    .personal-information-form {
        background-color: rgb(255, 248, 248);
        padding: 2rem;
        border-radius: 0.625rem;
        border: solid black;
        max-width: 31.25rem;
        width: 100%;
        margin: auto;
    }

    .personal-information__input {

        display: flex;
        /**/
        flex-direction: column;
        /**/
        width: 100%;
        padding: 0.625rem;
        border-radius: 0.75rem;
        margin-bottom: 1.875rem;
        border: 0.125rem solid;
        font-size: 1rem;

    }

    .send-button {

        margin-top: 2.5rem;
        text-align: center;
    }

    .send-button__input {

        padding: 0.5rem 5rem;
        /**/

        background-color: black;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 0.3125rem;

    }
}