.reservations {
    text-align: center;
    margin-top: 40px;
}

.person {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;

}

.people-selector {
    text-align: center;
    margin-top: 50px;

}

.people-selector__option {
    display: inline;
    margin-right: 70px;

}

.people-selector__input {
    transform: scale(1.5);
}

.people-selector__label {
    border: 1px solid #ccc;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

.date {
    font-size: 20px;
    font-weight: bold;
    margin-top: 70px;

}

.date-selector {
    text-align: center;
    margin-top: 50px;

}

.date-selector__input {
    transform: scale(1.5);

}

.schedules {
    font-size: 20px;
    font-weight: bold;
    margin-top: 70px;

}

.schedules-selector {
    text-align: center;
    margin-top: 50px;
}

.schedules-selector-option {
    display: inline;
    margin-right: 80px;
}

.schedules-selector-option__input {
    transform: scale(1.7);
}

.personal-information {
    font-size: 20px;
    font-weight: bold;
    margin-top: 80px;
}

.personal-information-form{
    background-color: rgb(255, 248, 248);
    padding: 50px;
    border-radius: 10px;
    border: solid black;
    max-width: 1000px;
    margin-top: 50px;
    margin-left: 200px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.personal-information__input{
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 30px;
    border: 2px solid;
    font-size: 20px;
    margin-top: 10px;
}

.send-button {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

.send-button__input {
    padding: 15px 250px;
    background-color: black;
    color: white;
    font-size: 19px;
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 5px;
}
.people{
    margin-top: 50px;
    
}
.people__name{
    text-align: left;
    color: red;
    font-size: 25px;
}
.people__box{
    display: flex;
justify-content: center;
justify-content: space-around;
}