.testimonial {
    background-color: #ffffff;
    padding-bottom: 40px;
    padding-top: 60px;
}
.testimonial__title{
    text-align: center;
}

.testimonial__text{
    margin-top: 40px;
    text-align: center;
}
.testimonial__name{
    font-size: 24px;
}
.testimonial__author{
    text-align: center;
    font-family: Georgia;
    font-size: 15px;
    margin-top: 30px;

}

