.testimonial__title{
    text-align: center;
    margin-top: 90px;
}



.testimonial__text{
    margin-top: 40px;
    font-family: Georgia; 
  line-height: 30px; 
  color: #333; 
  letter-spacing: 0.02em; 
  text-align: center;
}
.testimonial__name{
font-size: 30px;
}
.testimonial__author{
    text-align: center;
    font-family: Georgia;
    font-size: 15;
    margin-top: 30px;

}

