.testimonio {
position: relative;

}

.testimonio_padre {


    display: flex;
    flex-direction: row;

    gap: 30px;
    width: 100%;
margin-bottom: 60px;
}

.testimonio_box {

    padding: 40px;
    margin: 20px;
    position: relative;
    box-shadow: 0 0 7px black;
    min-width: 350px;
}

.nombre_testimonio {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: bold;

}

.contendido_testimonio {
    text-align: center;
    font-family: sans-serif;


}

.puntuacion {
    display: flex;
    gap: 25px;
    font-size: 30px;
    margin-top: 20px;
    justify-content: center;
}


.imagen img {
    width: 60px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    margin-left: 34%;
    margin-top: -70px;

}

.testimonio_box:hover {
    transform: scale(1.1, 1.2);
    cursor: pointer;
}

.testimonial__decoration {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    opacity: .04;
    font-size: 180px;
    font-weight: 900;
    transform: translateY(-70px);
        margin-top: -120px;
}

@media (max-width:1106px)  {
    .testimonio_padre {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        width:100%;

    }
}

