/* BASE */

body {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  background-color: #FAF6F3;
  /* background-color: #F4F1EA; */
}

.text {
  font-size: var(--medium-text);
  line-height: 24px;
}

.title-1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 9.6px;
}

.title-2 {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
}

.title-3 {
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}

.title-4 {
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}

.title-5 {
  font-size: 20px;
  font-weight: 600;
}

.title-6 {
  font-size: 16px;
  font-weight: 600;
}

.container {
  width: 70%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: var(--primary);
  text-decoration: underline;
  font-weight: 500;
}
.link-arrow {
  transition: all .3s ease-in-out;
}

.link:hover .link-arrow {
  transform: translateX(8px);
}

.section__text-decoration {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    opacity: .03;
    font-size: 11em;
    font-weight: 900;
    transform: translateY(-70px);
    white-space: nowrap;
}

@media (max-width: 1280px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .section__text-decoration {
    font-size: 8em;
    transform: translateY(-50px);
  }
}