/* BASE */

body {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  background-color: #F4F1EA;
}

p {
  font-size: var(--x-medium-text);
  line-height: 24px;
}

.title-1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 9.6px;
}

.title-2 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}

.title-3 {
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}

.title-4 {
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}

.title-5 {
  font-size: 20px;
  font-weight: 600;
}

.title-6 {
  font-size: 16px;
  font-weight: 600;
}


.container {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}